*{
    margin: 0;
    padding: 0;
}

header{
    min-height: 150px;
    background-color: #9BC2F9;
    margin-top: 20px;
    
}

.head{
    min-height: 50px;
    background-color: #CCDFFD;
    border: 1px solid black;
    margin: 12px 0px;
}






.hero {
    min-height: 100px;
    background-color: #9BC2F9;
    margin-top: 20px;
}

.hero-content {
    min-height: 60px;
    background-color: #CCDFFD;
    border: 1px solid black;
    margin: 20px 0;
}






.body {
    min-height: 600px;
    background-color: #9BC2F9;
    margin-top: 20px;
}

.top-body{
    min-height: 100px;
    background-color: #CCDFFD;
    border: 1px solid black;
    margin: 20px 0;
}

.middle-body{
    min-height: 100px;
    background-color: #65A7E1;
    
    margin: 20px 0;
}

.bottom-body{
    min-height: 250px;
    background-color: #CCDFFD;
    border: 1px solid black;
   margin: 20px 0;
}

footer{
    max-height: 100px;
    background-color: #9BC2F9;
    margin-top: 20px;
}

.foot-content {
    min-height: 80px;
    background-color: #9BC2F9;
   
    margin: 10px 0;
}